<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>VinegarFood Restaurant</title>
  <% include common/head %>
  <link rel="stylesheet" href="aboutus.css">
  <link rel="stylesheet" href="meals.css">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
  <% include common/header %>
  <div class="container-fluid">
    <div class="row">
      <div class="page-heading container-fluid">
        <img src="http://www.jwmarriotthanoilife.com/Content/upload/images/inner/FoieGras.jpg" alt="Meals">
        <div class="heading"><h1>About Us</h1></div>
      </div>
    </div>
  </div>
  <div class="container-fluid pt-5 pb-5">
    <div class="container-fluid box-content">
      <div class="row">
        <div class="col-lg-4 about-img-box">
          <img class="about-img" src="https://www.99restaurants.com/media/1634/about-charlie-doe.jpg" alt="owner">
        </div>
        <div class="col-lg-8 description-box">
          <div class="text-center description-heading">
            <h2>WHERE IT ALL BEGAN…</h2>
          </div>
          <div class="about-detail text-justify">
            <p>Our founder, Charlie Doe, had an idea to create a restaurant that was more than a place that served great food. Charlie wanted to give locals a place where they'd always feel at home. A place where they could get no-nonsense food at down-to-earth prices, and where they'd be treated right by people who had a passion to serve. </p>
            <p>The culture at the Ninety Nine Restaurants was instilled by Charlie Doe long before a mission statement was ever written down on paper and is still evident today. At the Ninety Nine, guests, team members and community are all treated with respect.</p>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="container-fluid box-content">
      <div class="row">
        <div class="col-lg-8 description-box">
          <div class="text-center description-heading">
            <h2>SOMETHING FOR EVERYONE</h2>
          </div>
          <div class="about-detail text-justify">
            <p>We're loved for our hand-breaded Boneless Buffalo Wings, our signature Broiled Sirloin Tips, our famous tall, frosted mugs of beer and more. All are served in a distinctly hearty New England style, enjoyed over good times with great family and friends. Simple, honest, genuine food.</p>
            <p>Never pretentious. Always satisfying.</p>
          </div>
        </div>
        <div class="col-lg-4 about-img-box">
          <img class="about-img" src="https://www.99restaurants.com/media/1632/about-callout1.jpg" alt="owner">
        </div>
      </div>
    </div>
    <hr>
    <div class="container-fluid box-content">
      <div class="row">
        <div class="col-lg-5 about-img-box">
          <img class="about-img" src="https://www.99restaurants.com/media/1635/about-callout2.jpg" alt="owner">
        </div>
        <div class="col-lg-7 description-box">
          <div class="text-center description-heading">
            <h2>BACK TO THE NINES</h2>
          </div>
          <div class="about-detail text-justify">
            <p>Our inviting, comfortable dining room is the perfect place to enjoy a great meal. Or, grab a seat at our neighborhood pub-like bar—our community tables provide an energetic and lively atmosphere that is perfect for our famous Thursday Night Trivia.</p>
            <p>The Ninety Nine Restaurant & Pub is headquartered in Woburn, MA and is proud to serve more than 20 million guests a year in over 100 restaurants throughout the Northeast. We will continue to prosper and grow and will continue to take care of every guest who walks through our doors, just like we've always done. </p>
            <p>We treat people right, and that's what makes new guests feel welcome, and regulars feel right at home.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%  include common/footer %>
</body>
</html>
