<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>VinegarFood Restaurant</title>
  <% include common/head %>
  <link rel="stylesheet" href="/awards.css">
</head>
<body>
  <% include common/header %>
  <section class="promotions-area section-padding">
      <div class="promotion-area-bg"></div>
      <div class="container-fluid wow fadeIn">
          <div class="row">
              <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                  <div class="area-title text-center">
                      <h2>Specials</h2>
                      <h3>Specials Promotion</h3>
                  </div>
              </div>
          </div>
          <div class="row">

              <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                  <div class="single-promotions text-center">
                      <div class="promotions-img">
                          <img src="img/promo_1.jpg" alt="" style="width: 370px;
        height: 290px;">
                          <div class="pakage-rate">
                              <p>
                                  <del>$20</del>
                                  <span>$15</span></p>
                          </div>
                      </div>
                      <div class="promotions-details">
                          <h4>Special Breakfast</h4>
                          <a href="/meals" class="read-more">Order now</a>
                      </div>
                  </div>
              </div>

              <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                  <div class="single-promotions text-center">
                      <div class="promotions-img">
                          <img src="img/promo_2.jpg" alt="" style="width: 370px;
        height: 290px;">
                          <div class="pakage-rate">
                              <p>
                                  <del>$43</del>
                                  <span>$25</span></p>
                          </div>
                      </div>
                      <div class="promotions-details">
                          <h4>Special Lunch</h4>
                          <a href="/meals" class="read-more">Order now</a>
                      </div>
                  </div>
              </div>
              <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                  <div class="single-promotions text-center">
                      <div class="promotions-img">
                          <img src="img/promo_3.jpg" alt="" style="width: 370px;
        height: 290px;">
                          <div class="pakage-rate">
                              <p>
                                  <del>$48</del>
                                  <span>$35</span></p>
                          </div>
                      </div>
                      <div class="promotions-details">
                          <h4>Special Dinner</h4>
                          <a href="/meals" class="read-more">Order now</a>
                      </div>
                  </div>
              </div>
              <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                  <div class="single-promotions text-center">
                      <div class="promotions-img">
                          <img src="img/promo_4.jpg" alt="" style="width: 370px;
        height: 290px;">
                          <div class="pakage-rate">
                              <p>
                                  <del>$30</del>
                                  <span>$15</span></p>
                          </div>
                      </div>
                      <div class="promotions-details">
                          <h4>Deviled Chicken Drummetts</h4>
                          <a href="/meals" class="read-more">Order now</a>
                      </div>
                  </div>
              </div>
              <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                  <div class="single-promotions text-center">
                      <div class="promotions-img">
                          <img src="img/promo_5.jpg" alt="" style="width: 370px;
        height: 290px;">
                          <div class="pakage-rate">
                              <p>
                                  <del>$54</del>
                                  <span>$12</span></p>
                          </div>
                      </div>
                      <div class="promotions-details">
                          <h4>Warm Chorizo Sausage</h4>
                          <a href="/meals" class="read-more">Order now</a>
                      </div>
                  </div>
              </div>
              <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                  <div class="single-promotions text-center">
                      <div class="promotions-img">
                          <img src="img/promo_6.jpg" alt="" style="width: 370px;
        height: 290px;">
                          <div class="pakage-rate">
                              <p>
                                  <del>$20</del>
                                  <span>$11</span></p>
                          </div>
                      </div>
                      <div class="promotions-details">
                          <h4>Chicken Breat Saute Sec</h4>
                          <a href="/meals" class="read-more">Order now</a>
                      </div>
                  </div>
              </div>
              <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                  <div class="single-promotions text-center">
                      <div class="promotions-img">
                          <img src="img/promo_11.jpg" alt="" style="width: 370px;
        height: 290px;">
                          <div class="pakage-rate">
                              <p>
                                  <del>$115</del>
                                  <span>$98</span></p>
                          </div>
                      </div>
                      <div class="promotions-details">
                          <h4>Catfish & Shrimp Combo</h4>
                          <a href="/meals" class="read-more">Order now</a>
                      </div>
                  </div>
              </div>

              <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                  <div class="single-promotions text-center">
                      <div class="promotions-img">
                          <img src="img/promo_8.jpg" alt="" style="width: 370px;
        height: 290px;">
                          <div class="pakage-rate">
                              <p>
                                  <del>&85</del>
                                  <span>$65</span></p>
                          </div>
                      </div>
                      <div class="promotions-details">
                          <h4>Grilled Lamb Tenderloins</h4>
                          <a href="/meals" class="read-more">Order now</a>
                      </div>
                  </div>
              </div>
              <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                  <div class="single-promotions text-center">
                      <div class="promotions-img">
                          <img src="img/promo_9.jpg" alt="" style="width: 370px;
        height: 290px;">
                          <div class="pakage-rate">
                              <p>
                                  <del>$90</del>
                                  <span>$80</span></p>
                          </div>
                      </div>
                      <div class="promotions-details">
                          <h4>BBQ Spare Ribs – Very Hot</h4>
                          <a href="/meals" class="read-more">Order now</a>
                      </div>
                  </div>
              </div>
              <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                  <div class="single-promotions text-center">
                      <div class="promotions-img">
                          <img src="img/promo_10.jpg" alt="" style="width: 370px;
        height: 290px;">
                          <div class="pakage-rate">
                              <p>
                                  <del>$105</del>
                                  <span>$90</span></p>
                          </div>
                      </div>
                      <div class="promotions-details">
                          <h4>Hanger Steak</h4>
                          <a href="/meals" class="read-more">Order now</a>
                      </div>
                  </div>
              </div>
              <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                  <div class="single-promotions text-center">
                      <div class="promotions-img">
                          <img src="img/promo_7.jpg" alt="" style="width: 370px;
        height: 290px;">
                          <div class="pakage-rate">
                              <p>
                                  <del>$60</del>
                                  <span>$45</span></p>
                          </div>
                      </div>
                      <div class="promotions-details">
                          <h4>Fishermen’s Basket</h4>
                          <a href="/meals" class="read-more">Order now</a>
                      </div>
                  </div>
              </div>

              <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                  <div class="single-promotions text-center">
                      <div class="promotions-img">
                          <img src="img/promo_12.jpg" alt="" style="width: 370px;
        height: 290px;">
                          <div class="pakage-rate">
                              <p>
                                  <del>$129</del>
                                  <span>$49</span></p>
                          </div>
                      </div>
                      <div class="promotions-details">
                          <h4>Beef Soup</h4>
                          <a href="/meals" class="read-more">Order now</a>
                      </div>
                  </div>
              </div>
              <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                  <div class="single-promotions text-center">
                      <div class="promotions-img">
                          <img src="img/promo_13.jpg" alt="" style="width: 370px;
        height: 290px;">
                          <div class="pakage-rate">
                              <p>
                                  <del>$138</del>
                                  <span>$98</span></p>
                          </div>
                      </div>
                      <div class="promotions-details">
                          <h4>Tomato Soup</h4>
                          <a href="/meals" class="read-more">Order now</a>
                      </div>
                  </div>
              </div>
              <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                  <div class="single-promotions text-center">
                      <div class="promotions-img">
                          <img src="img/promo_14.jpg" alt="" style="width: 370px;
        height: 290px;">
                          <div class="pakage-rate">
                              <p>
                                  <del>$59</del>
                                  <span>$35</span></p>
                          </div>
                      </div>
                      <div class="promotions-details">
                          <h4>Hunter Pastry</h4>
                          <a href="/meals" class="read-more">Order now</a>
                      </div>
                  </div>
              </div>
              <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                  <div class="single-promotions text-center">
                      <div class="promotions-img">
                          <img src="img/promo_15.jpg" alt="" style="width: 370px;
        height: 290px;">
                          <div class="pakage-rate">
                              <p>
                                  <del>$89</del>
                                  <span>$67</span></p>
                          </div>
                      </div>
                      <div class="promotions-details">
                          <h4>Crab Claw Soup</h4>
                          <a href="/meals" class="read-more">Order now</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <%  include common/footer %>
</body>
</html>
