<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>VinegarFood Restaurant</title>
  <% include common/head %>
  <link rel="stylesheet" href="meals.css">
  <link rel="stylesheet" href="catering.css">
  <script type="text/javascript" src="catering.js">

  </script>
</head>
<body>
  <% include common/header %>
  <div class="container-fluid">
    <div class="row">
      <div class="page-heading container-fluid">
        <img src="http://www.jwmarriotthanoilife.com/Content/upload/images/inner/FoieGras.jpg" alt="Meals">
        <div class="heading"><h1>Catering</h1></div>
      </div>
    </div>
  </div>
  <div class="container-fluid box-content breakfast pt-5">
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <div class="breakfast container-fluid">
          <div class="heading text-center"><h2>Events</h2></div>
        </div>
      </div>
      <div class="col-3"></div>
    </div>
    <div class="container-fluid">
      <div class="card-group">
        <div class="card">
          <div class="img-box">
          </div>
          <div class="card-body">
            <h2 class="card-title">Wedding</h2>
            <p class="card-text">Better than Twilight</p>
          </div>
        </div>
        <div class="card">
          <div class="img-box2">
          </div>
          <div class="card-body">
            <h2 class="card-title">Anniversary</h2>
            <p class="card-text">As smooth as possible</p>
          </div>
        </div>
        <div class="card">
          <div class="img-box3">
          </div>
          <div class="card-body">
            <h2 class="card-title">Birthday</h2>
            <p class="card-text">We'll prepare depending on your target's age</p>
          </div>
        </div>
        <div class="card">
          <div class="img-box4">
          </div>
          <div class="card-body">
            <h2 class="card-title">Customized</h2>
            <p class="card-text">It all depends on your tastes</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="container-fluid box-content breakfast pt-5">
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <div class="breakfast container-fluid">
          <div class="heading text-center"><h2>Service</h2></div>
        </div>
      </div>
      <div class="col-3"></div>
    </div>
    <div class="row">
      <div class="col-md-6 imgb">
        <img src="https://crackerbarrel.com/-/media/CrackerBarrel/Order-Online/Catering/Catering-2-0/82976_Catering_Fresh-Start-Combo_780x390.jpg?h=390&w=780&la=en&hash=719276D4FF77DAED32ABE5B6558D9500B2DFC6D2" alt="">
      </div>
      <div class="col-md-6 text-justify description-service">
        We offer both private and corporate food catering and event planning services. With over twenty years experience, we proudly create and cater at some of the biggest events in London and the Home Counties. From beautiful weddings to exquisite charity galas, if you are looking to throw any sort of event, our team has the experience and the knowhow to deliver your event with deliciously different flair.
      </div>
      <div class="col-md-6 p-3">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/4XTFJsNTqw8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="col-md-6 p-3">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/TTVs9jWwF28" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <hr>
  <div class="container-fluid box-content breakfast pt-5">
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <div class="breakfast container-fluid">
          <div class="heading text-center"><h2>Buffet</h2></div>
        </div>
      </div>
      <div class="col-3"></div>
    </div>
    <div class="row">
      <div class="col-md-6 imgb">
        <img src="https://media-cdn.tripadvisor.com/media/photo-s/05/14/f6/84/salad-bar-1.jpg" alt="">
      </div>
      <div class="col-md-6 text-justify description-service">
        From beautiful weddings to exquisite charity galas, if you are looking to throw any sort of event, our team has the experience and the knowhow to deliver your event with deliciously different flair. At rhubarb, we are more than a catering company. We know how to set an event apart and make it truly spectacular. By combining award-winning food with expert creative production we are able to deliver the party of your dreams. For your own bespoke, complimentary quote, please don't hesitate to fill out the form, or call our expert team on.
      </div>
      <div class="col-md-6 p-3">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/KTxfkL8ivCk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="col-md-6 p-3">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/slvAPRvTUGw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <%  include common/footer %>
</body>
</html>
