<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>VinegarFood Restaurant</title>
  <% include common/head %>
  <link rel="stylesheet" href="feedback.css">
  <link rel="stylesheet" href="meals.css">
</head>
<body>
  <% include common/header %>
  <div class="row">
    <div class="container-fluid">
      <div class="row">
        <div class="page-heading container-fluid">
          <img src="http://www.jwmarriotthanoilife.com/Content/upload/images/inner/FoieGras.jpg" alt="Feedback">
          <div class="heading"><h1>Feedback</h1></div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid box-content">
    <div class="row mt-5">
      <div class="col-lg-6 container-fluid">
        <div class="heading text-center"><h2>Rating & Comment</h2></div>
      </div>
    </div>
    <div class="row mt-2">
        <div class="col-lg-2 img-box-ad">
          <img src="img/ad1.png" alt="ad1">
        </div>
        <div class="col-lg-8 col-md-offset-3 form-container">
          <form role="form" method="post" id="reused_form">
            <div class="row">
              <div class="col-sm-12 form-group">
                <label>Please indicate your rating about us</label>
                <p>
                  <label class="radio-inline">
                    <input type="radio" name="experience" id="radio_experience" value="bad">
                    Bad
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="experience" id="radio_experience" value="normal">
                    Average
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="experience" id="radio_experience" value="good">
                    Good
                  </label>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 form-group">
                <label for="comments"> Comments:</label>
                <textarea class="form-control" type="textarea" name="comments" id="comments"
                placeholder="Your Comments" maxlength="6000" rows="7"></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 form-group">
                <label for="name"> Your Name:</label>
                <input type="text" class="form-control" id="name" name="name" required>
              </div>
              <div class="col-sm-6 form-group">
                <label for="email"> Email:</label>
                <input type="email" class="form-control" id="email" name="email" required>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 form-group">
                <button type="submit" class="btn btn-4 btn-danger text-white">Send Feedback</button>
              </div>
            </div>
          </form>
          <div id="success_message"><h3>Posted your feedback
            successfully!</h3></div>
            <div id="error_message"><h3>Error</h3> Sorry there was an
              error sending your form.
            </div>
          </div>
          <div class="col-lg-2 img-box-ad">
            <img src="img/ad2.png" alt="ad2">
          </div>
      </div>
    </div><br><br>
    <% include common/footer %>
  </body>
  </html>
