<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Trang chủ</title>
    <% include common/head %>
    <link rel="stylesheet" href="meals.css">
  </head>
  <body>
    <% include common/header %>
    <div class="container-fluid">
    <div class="row">
        <div class="page-heading container-fluid">
            <img src="http://www.jwmarriotthanoilife.com/Content/upload/images/inner/FoieGras.jpg" alt="Meals">
            <div class="heading"><h1>Meals</h1></div>
        </div>
    </div>
</div>
<div class="container-fluid box-content breakfast pt-5">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="breakfast container-fluid">
                <div class="heading text-center"><h2>Breakfast</h2></div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <p class="content text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci assumenda
                cupiditate dolore explicabo. Dolor eaque est facere id quasi quia quis quo, ut veritatis. Animi facilis
                inventore non quo veritatis!
            </p>
        </div>
        <div class="col-lg-2"></div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-3 meal-content">
                <div class="meal-content-img-box">
                    <a href="#myModal1" data-toggle="modal" data-target="#myModal1"
                       class="meal-content-img play-icon popup-with-zoom-anim">
                        <img class="item-img img-thumbnail"
                             src="https://crackerbarrel.com/-/media/CrackerBarrel/Menu/Breakfast/Traditional-Favorites/Grandmas-Sampler_780x390.jpg"
                             alt="Grandma's Sampler">
                    </a>
                </div>
                <div class="modal" id="myModal1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <button type="button" class="close text-right pr-2" data-dismiss="modal">&times;</button>
                            <div class="modal-body">
                                <h3 class="text-center item-detail-heading">Grandma's Sampler</h3>
                                <div class="item-detail-img">
                                    <img src="https://crackerbarrel.com/-/media/CrackerBarrel/Menu/Breakfast/Traditional-Favorites/Grandmas-Sampler_780x390.jpg"
                                         alt="Grandma's Sampler">
                                </div>
                                <p class="pt-3 text-center item-detail-text">Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit. Animi culpa deleniti
                                    deserunt dignissimos illum quae repellat. Ad consectetur deleniti dicta, eligendi
                                    excepturi facere ipsa, laborum libero magnam, minus officiis quia.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<div class="container-fluid box-content breakfast pt-5">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="breakfast container-fluid">
                <div class="heading text-center"><h2>Lunch</h2></div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <p class="content text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci assumenda
                cupiditate dolore explicabo. Dolor eaque est facere id quasi quia quis quo, ut veritatis. Animi facilis
                inventore non quo veritatis!
            </p>
        </div>
        <div class="col-lg-2"></div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-3 meal-content">
                <div class="meal-content-img-box">
                    <a href="#myModal2" data-toggle="modal" data-target="#myModal2"
                       class="meal-content-img play-icon popup-with-zoom-anim">
                        <img class="item-img img-thumbnail"
                             src="https://crackerbarrel.com/-/media/CrackerBarrel/Menu/Breakfast/Traditional-Favorites/Grandmas-Sampler_780x390.jpg"
                             alt="Grandma's Sampler">
                    </a>
                </div>
                <div class="modal" id="myModal2">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <button type="button" class="close text-right pr-2" data-dismiss="modal">&times;</button>
                            <div class="modal-body">
                                <h3 class="text-center item-detail-heading">Grandma's Sampler</h3>
                                <div class="item-detail-img">
                                    <img src="https://crackerbarrel.com/-/media/CrackerBarrel/Menu/Breakfast/Traditional-Favorites/Grandmas-Sampler_780x390.jpg"
                                         alt="Grandma's Sampler">
                                </div>
                                <p class="pt-3 text-center item-detail-text">Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit. Animi culpa deleniti
                                    deserunt dignissimos illum quae repellat. Ad consectetur deleniti dicta, eligendi
                                    excepturi facere ipsa, laborum libero magnam, minus officiis quia.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<div class="container-fluid box-content breakfast pt-5 pb-5">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="breakfast container-fluid">
                <div class="heading text-center"><h2>Dinner</h2></div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <p class="content text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci assumenda
                cupiditate dolore explicabo. Dolor eaque est facere id quasi quia quis quo, ut veritatis. Animi facilis
                inventore non quo veritatis!
            </p>
        </div>
        <div class="col-lg-2"></div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-3 meal-content">
                <div class="meal-content-img-box">
                    <a href="#myModal3" data-toggle="modal" data-target="#myModal3"
                       class="meal-content-img play-icon popup-with-zoom-anim">
                        <img class="item-img img-thumbnail"
                             src="https://crackerbarrel.com/-/media/CrackerBarrel/Menu/Breakfast/Traditional-Favorites/Grandmas-Sampler_780x390.jpg"
                             alt="Grandma's Sampler">
                    </a>
                </div>
                <div class="modal" id="myModal3">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <button type="button" class="close text-right pr-2" data-dismiss="modal">&times;</button>
                            <div class="modal-body">
                                <h3 class="text-center item-detail-heading">Grandma's Sampler</h3>
                                <div class="item-detail-img">
                                    <img src="https://crackerbarrel.com/-/media/CrackerBarrel/Menu/Breakfast/Traditional-Favorites/Grandmas-Sampler_780x390.jpg"
                                         alt="Grandma's Sampler">
                                </div>
                                <p class="pt-3 text-center item-detail-text">Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit. Animi culpa deleniti
                                    deserunt dignissimos illum quae repellat. Ad consectetur deleniti dicta, eligendi
                                    excepturi facere ipsa, laborum libero magnam, minus officiis quia.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
    <%  include common/footer %>
  </body>
</html>
