<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>VinegarFood Restaurant</title>
  <link rel="stylesheet" href="recipe.css">
  <link rel="stylesheet" href="meals.css">
  <link rel="stylesheet" href="aboutus.css">

  <% include common/head %>
</head>
<body>
<% include common/header %>
<div class="container-fluid">
  <div class="row">
    <div class="page-heading ">
      <img src="http://www.jwmarriotthanoilife.com/Content/upload/images/inner/FoieGras.jpg" alt="Feedback">
      <div class="heading"><h1>Recipe Of The Month</h1></div>
    </div>
  </div>
</div>
<div class="">
  <div class="box-content">
    <div class="heading mr-2 ml-2 mt-2">
      <h2 class="text-center">Balsamic-Glazed Salmon Fillets</h2>
    </div>
    <div class="row mr-2 ml-2 mt-2">
      <div class="col-lg-6 recipe-img-box">
        <iframe src='//players.brightcove.net/1033249144001/HyUr5pA17_default/index.html?videoId=3024714852001'
                allowfullscreen frameborder=0 width="100%" height="500px"></iframe>
      </div>
      <div class="col-lg-6">
        <div class="text-center recipe-subtitle">
          <h2>Ingredients</h2>
        </div>
        <hr>
        <div class="about-detail text-justify">
          <div class="">
            <ul class="">
              <li>6 (5 ounce) salmon fillets</li>
              <li>4 cloves garlic, minced</li>
              <li>1 tablespoon white wine</li>
              <li>1 tablespoon honey</li>
              <li>1/3 cup balsamic vinegar</li>
              <li>4 teaspoons Dijon mustard</li>
              <li>salt and pepper to taste</li>
              <li>1 tablespoon chopped fresh oregano</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-12">
        <div class="text-center recipe-subtitle">
          <h2>Directions</h2>
        </div>
        <hr>
        <div class="text-justify">
          <div class="">
            <ol class="">
              <li>Preheat oven to 400 degrees F (200 degrees C). Line a baking sheet with aluminum foil, and spray with non-stick cooking spray.</li>
              <li>Coat a small saucepan with non-stick cooking spray. Over medium heat, cook and stir garlic until soft, about 3 minutes. Mix in white wine, honey, balsamic vinegar, mustard, and salt and pepper. Simmer, uncovered, for about 3 minutes, or until slightly thickened.</li>
              <li>Arrange salmon fillets on foil-lined baking sheet. Brush fillets with balsamic glaze, and sprinkle with oregano.</li>
              <li>Bake in preheated oven for 10 to 14 minutes, or until flesh flakes easily with a fork. Brush fillets with remaining glaze, and season with salt and pepper. Use a spatula to transfer fillets to serving platter, leaving the skin behind on the foil.</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="">
  <div class="box-content">
    <div class="heading mr-2 ml-2 mt-2">
      <h2 class="text-center">Chicken Milano</h2>
    </div>
    <div class="row mr-2 ml-2 mt-2">
      <div class="col-lg-6 recipe-img-box">
        <iframe src='//players.brightcove.net/1033249144001/HyUr5pA17_default/index.html?videoId=1780260128001'
                allowfullscreen frameborder=0 width="100%" height="500px"></iframe>
      </div>
      <div class="col-lg-6">
        <div class="text-center recipe-subtitle">
          <h2>Ingredients</h2>
        </div>
        <hr>
        <div class="about-detail text-justify">
          <div class="">
            <ul class="">
              <li>1 tablespoon butter</li>
              <li>2 cloves garlic, minced</li>
              <li>1/2 cup sun-dried tomatoes, chopped</li>
              <li>1 cup chicken broth, divided</li>
              <li>1 cup heavy cream</li>
              <li>1 pound skinless, boneless chicken breast halves</li>
              <li>salt and pepper to taste</li>
              <li>2 tablespoons vegetable oil</li>
              <li>2 tablespoons chopped fresh basil</li>
              <li>8 ounces dry fettuccini pasta</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-12">
        <div class="text-center recipe-subtitle">
          <h2>Directions</h2>
        </div>
        <hr>
        <div class="text-justify">
          <div class="">
            <ol class="">
              <li>In a large saucepan over low heat, melt butter; add garlic and cook for 30 seconds. Add the tomatoes and 3/4 cup of the chicken broth; increase to medium heat and bring to a boil. Reduce heat and simmer, uncovered, for about 10 minutes or until the tomatoes are tender. Add the cream and bring to a boil; stirring. Simmer over medium heat until the sauce is thick enough to coat the back of a spoon.</li>
              <li>Sprinkle the chicken with salt and pepper on both sides. In a large skillet over medium heat, warm oil and saute chicken. Press on chicken occasionally with a slotted spatula. Cook for about 4 minutes per side or until the meat feels springy and is no longer pink inside. Transfer to a board; cover and keep warm. Discard the fat from the skillet.</li>
              <li>In the same skillet, over medium heat, bring 1/4 cup chicken broth to a boil; stirring the pan juices. Reduce slightly and add to the cream sauce; stir in basil and adjust seasonings to taste.</li>
              <li>Meanwhile, bring a large pot of lightly salted water to a boil. Add fettuccine and cook for 8 to 10 minutes or until al dente; drain, transfer to a bowl and toss with 3 to 4 tablespoons of the sauce.</li>
              <li>Cut each chicken breast into 2 to 3 diagonal slices. Reheat the sauce gently if needed. Transfer the pasta to serving plates; top with chicken and coat with the cream sauce; serve.</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="">
  <div class="box-content">
    <div class="heading mr-2 ml-2 mt-2">
      <h2 class="text-center">Authentic Tiramisu</h2>
    </div>
    <div class="row mr-2 ml-2 mt-2">
      <div class="col-lg-6 recipe-img-box">
        <iframe src='//players.brightcove.net/1033249144001/HyUr5pA17_default/index.html?videoId=5569400197001'
                allowfullscreen frameborder=0 width="100%" height="500px"></iframe>
      </div>
      <div class="col-lg-6">
        <div class="text-center recipe-subtitle">
          <h2>Ingredients</h2>
        </div>
        <hr>
        <div class="about-detail text-justify">
          <div class="">
            <ul class="">
              <li>1/2 cup white sugar</li>
              <li>3 eggs, separated</li>
              <li>2 tablespoons brandy</li>
              <li>2 cups brewed espresso, cooled, divided</li>
              <li>2 (8 ounce) packages mascarpone cheese</li>
              <li>1 pinch white sugar</li>
              <li>30 ladyfingers (such as Savoiardi)</li>
              <li>3 tablespoons unsweetened cocoa powder</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-12">
        <div class="text-center recipe-subtitle">
          <h2>Directions</h2>
        </div>
        <hr>
        <div class="text-justify mb-5">
          <div class="">
            <ol class="">
              <li>Beat 1/2 cup sugar, egg yolks, brandy, and 1 tablespoon espresso together in a bowl using an electric mixer until smooth, 2 to 3 minutes. Add mascarpone cheese to sugar-egg mixture and beat until well blended, 3 to 5 minutes.</li>
              <li>Beat egg whites and a pinch sugar in a bowl using an electric mixer until stiff peaks form. Gently fold egg whites into mascarpone mixture.</li>
              <li>Pour remaining espresso into a shallow dish. Dip 1 side of each ladyfinger into the espresso and arrange on a serving platter in 2 horizontal rows of 6 with 2 1/2 ladyfingers in opposite direction on both ends to form a rectangular shape.</li>
              <li>Spread 1/2 of the mascarpone mixture onto the ladyfinger layer and dust with 1/2 of the cocoa powder. Repeat with remaining ladyfingers dipped in espresso, mascarpone mixture, and cocoa powder. Refrigerate tiramisu until ladyfingers have softened from the espresso and mascarpone mixture, 2 to 3 hours.</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% include common/footer %>

</body>
</html>
