<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="recipe.css">
    <% include common/head %>
</head>
<body>
<% include common/header %>
<div class="row">
    <div class="container-fluid">
        <div class="row">
            <div class="page-heading container-fluid">
                <img src="http://www.jwmarriotthanoilife.com/Content/upload/images/inner/FoieGras.jpg" alt="Feedback">
                <div class="heading"><h1>Recipe Of The Month</h1></div>
            </div>

        </div>
    </div>
</div>
<div class="jumbotron row ml-5 mr-5 justify-content-center mb-lg-3">
  <div class="col-lg-3">
        <div class="card">
            <img class="card-img-top" src="https://crackerbarrel.com/-/media/CrackerBarrel/Menu/Breakfast/Traditional-Favorites/Grandmas-Sampler_780x390.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Bánh mì doremon</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus nihil quod vitae? Inventore, vitae, voluptatum? Aliquid consequuntur</p>
                <a href="#" class="btn btn-primary">Chi tiết</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
          <div class="card">
              <img class="card-img-top" src="https://crackerbarrel.com/-/media/CrackerBarrel/Menu/Breakfast/Traditional-Favorites/Grandmas-Sampler_780x390.jpg" alt="Card image cap">
              <div class="card-body">
                  <h5 class="card-title">Bánh mì doremon</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus nihil quod vitae? Inventore, vitae, voluptatum? Aliquid consequuntur</p>
                  <a href="#" class="btn btn-primary">Chi tiết</a>
              </div>
          </div>
      </div>
      <div class="col-lg-3">
            <div class="card">
                <img class="card-img-top" src="https://crackerbarrel.com/-/media/CrackerBarrel/Menu/Breakfast/Traditional-Favorites/Grandmas-Sampler_780x390.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Bánh mì doremon</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus nihil quod vitae? Inventore, vitae, voluptatum? Aliquid consequuntur</p>
                    <a href="#" class="btn btn-primary">Chi tiết</a>
                </div>
            </div>
        </div>
</div>
<% include common/footer %>
</body>
</html>
