<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="recipe.css">
    <link rel="stylesheet" href="meals.css">
    <link rel="stylesheet" href="aboutus.css">

    <% include common/head %>
</head>
<body>
<% include common/header %>
<div class="row">
    <div class="container-fluid">
        <div class="row">
            <div class="page-heading container-fluid">
                <img src="http://www.jwmarriotthanoilife.com/Content/upload/images/inner/FoieGras.jpg" alt="Feedback">
                <div class="heading"><h1>Recipe Of The Month</h1></div>
            </div>

        </div>
    </div>
</div>
<div class="container-fluid">
  <div class="container-fluid box-content">
    <div class="row">
      <div class="col-lg-3 recipe-img-box">
        <img class="about-img" src="https://www.bbcgoodfood.com/sites/default/files/styles/recipe/public/recipe_images/layered-houmous-with-spiced-tortilla-chips.jpg" alt="owner">
      </div>
      <div class="col-lg-3">
        <div class="text-center recipe-subtitle">
          <h2>Ingredients</h2>
        </div>
  <div class="about-detail text-justify">
    <div class="">
      For the hummus
  2 x 240g cans chickpeas, drained and rinsed
  4 tbsp tahini

  3 garlic cloves, crushed
  2 tsp ground cumin
  5 tbsp extra virgin olive oil
  zest and juice 1½ lemons

  For the herby oil
  4 tbsp extra virgin olive oil
  ½ bunch parsley

  , leaves picked
  ½ bunch mint

  , leaves picked
  juice ½ lemon

  1 green chilli, deseeded and diced
  For the tortilla chips
  1 tbsp olive oil

  1 tsp ground cumin
  1 tsp sumac

  4 flour tortillas
  To serve
  100g pack pomegranate seeds
  2 tbsp pine nuts, toasted
  200g feta

  , crumbled
    </div>
  </div>
      </div>
<div class="col-lg-6 ">
  <div class="text-center recipe-subtitle">
    <h2>Method</h2>
  </div>
  <div class="recipe-steps about-detail">
    <p>Our founder, Charlie Doe, had an idea to create a restaurant that was more than a place that served great food. Charlie wanted to give locals a place where they'd always feel at home. A place where they could get no-nonsense food at down-to-earth prices, and where they'd be treated right by people who had a passion to serve. </p>
    <p>The culture at the Ninety Nine Restaurants was instilled by Charlie Doe long before a mission statement was ever written down on paper and is still evident today. At the Ninety Nine, guests, team members and community are all treated with respect.</p>
  </div>
</div>
    </div>
  </div>
  <div class="container-fluid mt-5">
    <div class="container-fluid box-content">
      <div class="row">
        <div class="col-lg-3">
          <div class="text-center recipe-subtitle">
            <h2>Ingredients</h2>
          </div>
    <div class="about-detail text-justify">
      <div class="">
        For the hummus
    2 x 240g cans chickpeas, drained and rinsed
    4 tbsp tahini

    3 garlic cloves, crushed
    2 tsp ground cumin
    5 tbsp extra virgin olive oil
    zest and juice 1½ lemons

    For the herby oil
    4 tbsp extra virgin olive oil
    ½ bunch parsley

    , leaves picked
    ½ bunch mint

    , leaves picked
    juice ½ lemon

    1 green chilli, deseeded and diced
    For the tortilla chips
    1 tbsp olive oil

    1 tsp ground cumin
    1 tsp sumac

    4 flour tortillas
    To serve
    100g pack pomegranate seeds
    2 tbsp pine nuts, toasted
    200g feta

    , crumbled
      </div>
    </div>
        </div>
        <div class="col-lg-3 recipe-img-box">
          <img class="about-img" src="https://www.bbcgoodfood.com/sites/default/files/styles/recipe/public/recipe_images/layered-houmous-with-spiced-tortilla-chips.jpg" alt="owner">
        </div>
  <div class="col-lg-6 ">
    <div class="text-center recipe-subtitle">
      <h2>Method</h2>
    </div>
    <div class="recipe-steps about-detail">
      <p>Our founder, Charlie Doe, had an idea to create a restaurant that was more than a place that served great food. Charlie wanted to give locals a place where they'd always feel at home. A place where they could get no-nonsense food at down-to-earth prices, and where they'd be treated right by people who had a passion to serve. </p>
      <p>The culture at the Ninety Nine Restaurants was instilled by Charlie Doe long before a mission statement was ever written down on paper and is still evident today. At the Ninety Nine, guests, team members and community are all treated with respect.</p>
    </div>
  </div>
      </div>
    </div>
    <div class="container-fluid mt-5">
      <div class="container-fluid box-content mb-5">
        <div class="row">
          <div class="col-lg-3 recipe-img-box">
            <img class="about-img" src="https://www.bbcgoodfood.com/sites/default/files/styles/recipe/public/recipe_images/layered-houmous-with-spiced-tortilla-chips.jpg" alt="owner">
          </div>
          <div class="col-lg-3">
            <div class="text-center recipe-subtitle">
              <h2>Ingredients</h2>
            </div>
      <div class="about-detail text-justify">
        <div class="">
          For the hummus
      2 x 240g cans chickpeas, drained and rinsed
      4 tbsp tahini

      3 garlic cloves, crushed
      2 tsp ground cumin
      5 tbsp extra virgin olive oil
      zest and juice 1½ lemons

      For the herby oil
      4 tbsp extra virgin olive oil
      ½ bunch parsley

      , leaves picked
      ½ bunch mint

      , leaves picked
      juice ½ lemon

      1 green chilli, deseeded and diced
      For the tortilla chips
      1 tbsp olive oil

      1 tsp ground cumin
      1 tsp sumac

      4 flour tortillas
      To serve
      100g pack pomegranate seeds
      2 tbsp pine nuts, toasted
      200g feta

      , crumbled
        </div>
      </div>
          </div>
    <div class="col-lg-6 ">
      <div class="text-center recipe-subtitle">
        <h2>Method</h2>
      </div>
      <div class="recipe-steps about-detail">
        <p>Our founder, Charlie Doe, had an idea to create a restaurant that was more than a place that served great food. Charlie wanted to give locals a place where they'd always feel at home. A place where they could get no-nonsense food at down-to-earth prices, and where they'd be treated right by people who had a passion to serve. </p>
        <p>The culture at the Ninety Nine Restaurants was instilled by Charlie Doe long before a mission statement was ever written down on paper and is still evident today. At the Ninety Nine, guests, team members and community are all treated with respect.</p>
      </div>
    </div>
        </div>
      </div>
<% include common/footer %>
</body>
</html>
