.box-content .about-img-box img {
  width: 100%;
  height: auto;
}


. div[class^="col-*"] {
  padding: 0 !important;
  margin: 0 !important;
}

.description-box {
  padding: 70px 0;
}
.about-detail p, .about-detail li, .about-detail div {
  font-family: 'Charmonman', cursive;
  font-size: 1.2em;
}
.about-detail p {
  padding-left: 5%;
  padding-right: 5%;
}
p {
  text-indent: 2em;
}

.description-box p::first-letter {
  font-size: 200%;
  font-style: italic;
  opacity: 0.7;
}
