.page-heading img {
    width: 100%;
}

.page-heading {
    position: relative;
    text-align: center;
    color: darkslategrey;
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;}

.recipe-img-box img {
  padding: 70px 0;
  width: 100%;
}
