<footer>
  <div class="wrap-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer1">
                <div class="footer-heading">
                    <h4>Partners</h4>
                    <div class="content">
                        <div class="row">
                            <div class="col-md-6">
                                <a href="#"><img src="img/15.jpg" alt="partner1"></a>
                            </div>
                            <div class="col-md-6">
                                <a href="#"><img src="img/16.jpg" alt="partner2"></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <a href="#"><img src="img/17.jpg" alt="partner3"></a>
                            </div>
                            <div class="col-md-6">
                                <a href="#"><img src="img/18.jpg" alt="partner4"></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <a href="#"><img src="img/19.jpg" alt="partner5"></a>
                            </div>
                            <div class="col-md-6">
                                <a href="#"><img src="img/20.jpg" alt="partner6"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 footer2">
                <div class="footer-heading">
                    <h4>About Us</h4>
                </div>
                <div class="content">
<p class="text-justify">
  At VinegarFood, we turn the ordinary into the extraordinary every day.
  So, stop in for a romantic dinner, relaxing lunch, or after work gathering at our cozy, sit-down bar...make everyday life a little more special at VinegarFood Restaurant!
</p>
                    <p class="text-center">
                        "Welcome to VinegarFood and my kitchen... passionately
                        personal & genuinely delicious!"
                    </p>
<p class="text-right"><small>- Linda Strica, Owner/Chef</small></p>
                </div>
            </div>
            <div class="col-md footer3">
                <div class="footer-heading">
                    <h4>Labels</h4>
                </div>
                <div class="content">
                    <ul class="list-unstyled text-center">
                        <li>
                            <a href="#">Foods</a>
                        </li>

                        <li>
                            <a href="#">Restaurant</a>
                        </li>

                        <li>
                            <a href="#">VinegarFood</a>
                        </li>

                        <li>
                            <a href="#">Recipes</a>
                        </li>

                        <li>
                            <a href="#">Meals</a>
                        </li>

                        <li>
                            <a href="#">Wine</a>
                        </li>

                        <li>
                            <a href="#">Taste</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="container-fluid footer-copyright">
<p>&copy; Copyright 2019 - T1809E - APTECH</p>
    </div>
</footer>
