<div class="row">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
            <!-- Brand -->
            <a class="navbar-brand d-none d-lg-block" href="#"><img src="img/Logo.png" alt="logo"></a>

            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/meals">Meals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/catering">Catering</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/recipe">Recipe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/awards">Awards</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/gallery">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/feedback">Feedback</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/booking">
                            <button class="btnBookNow btn btn-outline-danger">BOOK NOW</button></a>
                    </li>
                </ul>
                <span class="d-none d-lg-block">
                <form class="form-inline form-search" action="#">
                    <input class="form-control" type="text" placeholder="Search">
                    <button class="btn btn-outline-danger ml-2 btnSearch" type="submit">Search</button>
                </form>
                    </span>
            </div>
        </nav>
    </div>
</div>
<div class="row">
    <div class="container-fluid mt-5">
        <div class="carousel slide" id="slide" data-ride="carousel">
            <!--Indicators-->
            <ul class="carousel-indicators">
                <li data-target="#slide" data-slide-to="0" class="active"></li>
                <li data-target="#slide" data-slide-to="1"></li>
                <li data-target="#slide" data-slide-to="2"></li>
            </ul>
            <!--The slideshow-->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="img/1.jpg"
                         width="1100" height="400" alt="fruit1">
                    <div class="carousel-caption d-none d-lg-block">
                        <h2>WELCOME TO Vinegar-Food RESTAURANT</h2>
                        <p>It's our pleasure to have you here</p>
                        <div class="btn btn-outline-light btn1"><a href="/about" class="text-light">ABOUT US</a></div>
                        <div class="btn btn-outline-light btn1"><a href="/catering" class="text-light">OUR WORK</a></div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="img/2.jpg" width="1100" height="400"
                         alt="mushroom">
                    <div class="carousel-caption d-none d-lg-block">
                        <h2>WELCOME TO Vinegar-Food RESTAURANT</h2>
                        <p>We are here to bring moments of unforgettably meaningful interaction</p>
                        <div class="btn btn-outline-light btn1"><a href="/about" class="text-light">ABOUT US</a></div>
                        <div class="btn btn-outline-light btn1"><a href="/catering" class="text-light">OUR WORK</a></div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="img/3.jpg"
                         width="1100" height="400" alt="chicken">
                    <div class="carousel-caption d-none d-lg-block">
                        <h2>WELCOME TO Vinegar-Food RESTAURANT</h2>
                        <p>From the most adorable to the most luxurious styles that you can ever taste</p>
                        <div class="btn btn-outline-light btn1"><a href="/about" class="text-light">ABOUT US</a></div>
                        <div class="btn btn-outline-light btn1"><a href="/catering" class="text-light">OUR WORK</a></div>
                    </div>
                </div>
            </div>

            <!--Carousel left and right controls-->
            <a class="carousel-control-prev" href="#slide" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#slide" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
</div>
